In [5]:
# NON fini je l'ai fait juste pour continuer les cours 
# le weekend je déposerai le fichier bien éssayé 
import pandas as pd
df=pd.read_csv("kc_house_data.csv",sep=";")
df

      id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0      7129300520,"20141013T000000",221900,3,1,1180,5...
1      6414100192,"20141209T000000",538000,3,2.25,257...
2      5631500400,"20150225T000000",180000,2,1,770,10...
3      2487200875,"20141209T000000",604000,4,3,1960,5...
4      1954400510,"20150218T000000",510000,3,2,1680,8...
...                                                  ...
21608  0263000018,"20140521T000000",360000,3,2.5,1530...
21609  6600060120,"20150223T000000",400000,4,2.5,2310...
21610  1523300141,"20140623T000000",402101,2,0.75,102...
21611  0291310100,"20150116T000000",400000,3,2.5,1600...
21612  1523300157,"20141015T000000",325000,2,0.75,102...

[21613 rows x 1 columns]